.CreditCard {
  display: flex;
  flex-direction: column;
  margin: 5% 0 5% 10%;
  border-radius: 5px;
  border: 1px solid #000;
  width: 400px;
}
.CreditCard h1:first-of-type {
  display: flex;
  align-self: flex-end;
  margin-right: 10%;
}
.span {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
}
.span span {
  margin-right: 5%;
}

p {
  display: flex;
  justify-self: flex-start;
  margin-left: 10%;
}
