.DriverCard {
  width: 90vw;
  height: 120px;
  border-radius: 5px;
  background-color: rgb(119, 119, 201);
  margin: 5% 0 5% 5%;
  display: flex;
}
.infos {
  display: flex;
  flex-direction: column;
}
img {
  width: 90px;
  border-radius: 50px;
  margin: 3% 10% 2% 10%;
}
